[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "contxt-sdk"
version = "1.0.0-beta.13"
description = "Contxt SDK from </ndustrial.io>"
authors = ["ndustrial.io <dev@ndustrial.io>"]
license = "ISC"
readme = "README.md"
repository = "https://github.com/ndustrialio/contxt-sdk-python"
packages = [ { include = "contxt" } ]

[tool.poetry.dependencies]
python = "^3.6"
auth0-python = "^3.9"
dataclasses = { version = "^0.6.0", python = "<3.7" }
pyjwt = "^1.7"
python-dateutil = "^2.8"
python-jose-cryptodome = { version = "^1.3", optional = true }
pytz = "^2019.2"
requests = "^2.22"
tabulate = "^0.8.3"
tqdm = "^4.36"

[tool.poetry.dev-dependencies]
black = "^19.3b0"
flake8 = "^3.7"
isort = "^4.3"
mypy = "^0.720.0"
pytest = "^5.1"

[tool.poetry.extras]
server = ["python-jose-cryptodome"]

[tool.poetry.scripts]
contxt = "contxt.__main__:main"

[tool.black]
line-length = 105
target-version = ["py36", "py37"]
include = '(contxt|scripts|tests).*\.pyi?$'

[tool.isort]
line_length = 105
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
