git+https://git@github.com/ndustrialio/ndustrialio-python.git@SPIKE/assetsII#egg=ndustrialio-python
tabulate
dateutils
plotly
tqdm
dash
dash-html-components
dash-core-components
dash-table
dash-daq
flask
pandas