git+https://git@github.com/ndustrialio/ndustrialio-python.git@SPIKE/assetsII#egg=ndustrialio-python
argcomplete
dash
dash-html-components
dash-core-components
# dateutils
# dash-table
# dash-daq
flask
tabulate
tqdm
mypy
pandas
plotly